
.post{
	display: flex;
	padding: 20px;
	border: 2px solid teal;
	margin-top: 20px;
	justify-content: space-between;
	align-items: center;
}
.myInput{
	padding: 5px;
	margin: 5px;
	width:100%;
	border: 1px solid teal
}
.content{
	color: #000;
}